<template>
  <div class="profile-main">
    <div class="profile-title" v-for="(ste, ix) in statesByFlow" :key="ix">
      <div class="col">
        <h1 class="number">{{ ix + 1 }}</h1>
      </div>
      <div class="col">
        <h1>
          <div class="profile-icon">
            <!-- swap ISO3166-1-Alpha-2 for a png - could add the link to the flag source with attr
            <img :src="steItem(ste)['my flag image column in country codes csv']" >
            check everywhere that the country flag is used 
            ["<img :src="steItem(ste)['Province-flag-image']">"-->
            <country-flag :country="steItem(ste)['Province-flag-image'].toLowerCase()" width="20" height="20"/>
              <img :src="steItem(ste)['Province-flag-image']"  width="20" height="20">
          </div>
          {{ nameEn(ste) }}
          <a target="_dfa" class="outlink" :href="dfaUrlEn(ste)">Wiki &#x25B6;</a>
        </h1>
        <h3 v-if="nameGa(ste)">
          {{ nameGa(ste) }}
          <a class="outlink" target="_dfa" :href="dfaUrlGa(ste)">Wiki[GA] &#x25B6;</a>
        </h3>
        <h3 v-else>{{ nameEn(ste) }}</h3>
        <!-- Statistics update here -->
        <h3>  {{steItem(ste)['Statistic-Quote']}}
          <!-- side note text removed -->
          <span class="sidenote"> </span></h3>
      </div>
    </div>
    <br>
    <div class="profile-quote">
      <!-- <small>Source: </small> -->
    </div>
  </div>
</template>

<script>
import CountryFlag from 'vue-country-flag'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'List',
  props: {
  },
  data () {
    return {
    };
  },
  methods: {
    steCode: function (ste) {
      return this.$store.state.states[ste].code;
    },
    nameGa: function (ste) {
      var steCode = this.steCode(ste);
      if (steCode && steCode.dfaie) {
        return steCode.dfaie.GA;
      }
      return null;
    },
    fullNameEn: function (ste) {
      var steCode = this.steCode(ste);
      if (steCode) {
        if (steCode['UNTERM English Formal']) {
          return steCode['UNTERM English Formal'];
        }
        return steCode.official_name_en;
      }
      return null;
    },
    dfaUrlEn: function (ste) {
      var steCode = this.steCode(ste);
      if (steCode && steCode.dfaie) {
        return steCode.dfaie.EN_URL;
      }
      return null;
    },
    dfaUrlGa: function (ste) {
      var steCode = this.steCode(ste);
      if (steCode && steCode.dfaie) {
        return steCode.dfaie.GA_URL;
      }
      return null;
    },
    totalPopulation: function (ste) {
      return this.$store.state.states[ste].flow;
    },
    nameEn: function (ste) {
      var steCode = this.steCode(ste);
      if (steCode) {
        if (steCode['CLDR display name']) {
          return steCode['CLDR display name'];
        }
        if (steCode.dfaie) {
          return steCode.dfaie.EN_DFA;
        }
        return steCode.official_name_en;
      }
      return null;
    }
  },
  computed: {
    ...mapState([
      'year'
    ]),
    ...mapGetters([
      'statesByFlow',
      'steItem'
    ])
  },
  components: {
    CountryFlag
  },
  mounted: function () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade2-enter-active, .fade2-leave-active {
  transition: opacity 0.8s;
}
.fade3-enter-active {
  transition: opacity 0.3s;
}
.fade3-enter, .fade2-enter, .fade2-leave-to, .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.profile-icon {
  display: inline-block;
  border-radius: 3px;
  width: 10px;
  margin-left: 2px;
  margin-bottom: 1px;
  padding-right: 1px;
  height: 15px;
  position: relative;
  top: 1px;
  left: 1px;
  transform: scale(1.5);
  overflow: hidden;
}
.profile-icon .flag {
  position: absolute;
  top: -1px;
  left: -1px;
}
.flag-ste {
  position: absolute;
  top: 5px;
}
.flag-main {
  text-align: left;
  position: relative;
}
h1 {
  font-size: 150%;
  padding-bottom: 10px;
  padding-right: 20px;
  border-bottom: 2px rgba(0, 160, 106, 1.0) solid;
  margin-bottom: 0px;
}
h2 {
  padding: 5px 5px 10px 5px;
  margin: 0 0 0 0;
  font-size: 140%;
  background: rgba(255, 255, 255, 0.8);
  color: rgba(170, 170, 170, 1.0);
}
h3 {
  font-family: 'Arial Black';
  font-weight: normal;
  margin: 0 0 0 0;
  font-size: 90%;
  max-width: 200px;
}
.articles-header h3 {
  font-family: 'Georgia';
  font-weight: bold;
  color: rgba(0, 80, 53, 1.0);
}
.articles-header {
  top: -30px;
  white-space: nowrap;
  z-index: 1000;
  position: absolute;
  font-size: 130%;
}
.profile-header-gap {
  position: relative;
}

.profile-quote {
  max-width: 500px;
  padding: 30px;
}
.profile-quote p {
  padding: 30px;
  background: rgba(240, 240, 250, 1);
}
.profile-quote .statistic {
  font-size: 80%;
}
.profile-quote .year {
  font-size: 200%;
}
.profile-quote .place {
  font-weight: bold;
}
.outlink {
  font-size: 50%;
}

.profile-title {
  display: inline-block;
  background-color: rgba(200, 200, 200, 0.3);
  min-height: 100px;
  margin: 8px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 0px;
  margin-top: 20px;
  border-left: 5px rgba(70, 180, 130, 1) solid;
}

.profile-main {
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col h1.number {
  font-size: 400%;
  line-height: 1;
  margin-top: 0;
  text-decoration: none;
  border: none;
  color: rgba(70, 180, 130, 1);
  padding-left: 5px;
}

span.sidenote {
  font-size: 60%;
}
</style>
